

.shop-container{
  margin-top: 60px ;
  width: 100%; 
  height: 100%;
}

.shop-container h2{
  margin-bottom: 20px;
}

.category-buttons{
  display: flex;
  gap: 30px;
}

.product-grid{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
  display: flex;

  margin: 30px;
  flex-wrap: wrap;
  /* width: 100%;
  height: 100%; */

}



.product-card{
  width: 100%;
  height: 100%;
}

.product-card img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}