/* Hero Section */
.hero {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 10px;
  }
  
  /* Hero Image Slider */
  .hero-slider {
    width: 100%;
    height: 100vh;
  }
  
  .hero-slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Hero Content */
  .hero-content {
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 80%;
  }
  
  .hero h2 {
    font-size: 2.3rem;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 300;
    color: orange;

  }
  
  /* Button Styling */
  .shop-btn {
    margin-top: 20px;
    padding: 12px 70px;
    font-size: 18px;
    /* background: white; */
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    background-color:green ;
  }
  
  .shop-btn:hover {
    /* background: lightgray; */
    background-color:darkgreen ;

    transform: scale(1.05);
  }