.newsletter {
    background: linear-gradient(to right, #fffaf0);
    padding: 50px 20px;
    text-align: center;
    color: white;
    position: relative;
    border-radius: 15px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
  }
  .newsletter-content{
    justify-content: center;
    text-align: center;
  }
  .newsletter-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
  }
  
  .newsletter-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .newsletter-form input {
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 450px;
    transition: 0.3s ease-in-out;
    background-color: #f1e093;
  }
  
  .newsletter-form input:focus {
    outline: none;
    transform: scale(1.05);
  }
  
  .subscribe-btn {
    background:green;
    color: white;
    padding: 12px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 260px;
  }
  
  .subscribe-btn:hover {
    background: darkgreen;
    transform: scale(1.05);
  }
  
  /* Testimonial Slider */
  .testimonial-slider {
    margin-top: 30px;
    width: 80%;
    margin: 100px;
  }
  
  .testimonial {
    /* background: rgba(255, 255, 255, 0.2); */
    background: #fffaf0;

    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0.1, 0, 0, 0.2); */
    text-align: center;
  }
  
  .testimonial p {
    font-size: 1.2rem;
    font-style: italic;
    color: black;
  }
  
  .testimonial h4 {
    margin-top: 10px;
    font-weight: bold;
    color: black;
  }
  
  /* Custom Slider Arrows */
  .custom-arrow {
    font-size: 2rem;
    color: black !important;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .custom-arrow.prev {
    left: -30px;
  }
  
  .custom-arrow.next {
    right: -30px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .newsletter-form {
      flex-direction: column;
    }
  
    .newsletter-form input,
    .subscribe-btn {
      width: 100%;
    }
  
    .custom-arrow {
      font-size: 1.5rem;
    }
  }
  