













.admin-container {
  padding: 20px;

}


.admin-container h1{
  font-size: 2.5rem;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 14px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;

}


.add-btn:hover {
  background-color:darkgreen ;

  transform: scale(1.05);
}


.product-list {
  display: block;
  flex-wrap: wrap;

}

.product-card1 {
  background: #f9f9f9;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  /* border-radius: 10px; */
  display: flex;
  margin-top: 10px;
}


.product-card1 div {
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.product-card1 img {
  width: 150px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.admin-actions {
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
}

.admin-actions button {
  /* padding: 10px 30px; */
  width: 6rem;
  height: 40px;
}

.update{
  background-color: #4caf50;
  color: white;
  border: none;
  /* padding: 30px 30px; */
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.update:hover {
  background-color:darkgreen ;

  transform: scale(1.05);
}


.delete {
  background-color: crimson;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

