.checkout-container {
    padding: 2rem;
    max-width: 600px;
    margin: 4rem auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .checkout-summary {
    margin-top: 20px;
    font-size: 1.1rem;
    text-align: center;
  }

  .checkout-container h1{
    text-align: center;
  }
  
  .checkout-summary p {
    margin: 10px 0;
  }
  
  .checkout-btn {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }

  .checkout-btn:hover{
    background-color:darkgreen;
    transform: scale(1.05);
  }
  